In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#from sklearn.linear

In [2]:
df2 =pd.read_csv(r'C:\Users\user\Downloads\customer_shopping_data.csv')

In [3]:
df2.head()

,invoice_no,customer_id,gender,age,Age Group,category,quantity,price,payment_method,invoice_date,shopping_mall,day_of_week,name_of_day,month,month_name
0,I138884,C241288,Female,28,Young Adult,Clothing,5,1500.40,Credit Card,2022-08-05,Kanyon,4,Friday,8,August
1,I317333,C111565,Male,21,Young Adult,Shoes,3,1800.51,Debit Card,2021-12-12,Forum Istanbul,6,Sunday,12,December
2,I127801,C266599,Male,20,Young Adult,Clothing,1,300.08,Cash,2021-11-09,Metrocity,1,Tuesday,11,November
3,I173702,C988172,Female,66,Senior,Shoes,5,3000.85,Credit Card,2021-05-16,Metropol AVM,6,Sunday,5,May
4,I337046,C189076,Female,53,Senior,Books,4,60.60,Cash,2021-10-24,Kanyon,6,Sunday,10,October

In [5]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99457 entries, 0 to 99456
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   invoice_no      99457 non-null  object
 1   customer_id     99457 non-null  object
 2   gender          99457 non-null  object
 3   age             99457 non-null  int64
 4   Age Group       99457 non-null  object
 5   category        99457 non-null  object
 6   quantity        99457 non-null  int64
 7   price           99457 non-null  float64
 8   payment_method  99457 non-null  object
 9   invoice_date    99457 non-null  object
 10  shopping_mall   99457 non-null  object
 11  day_of_week     99457 non-null  int64
 12  name_of_day     99457 non-null  object
 13  month           99457 non-null  int64
 14  month_name      99457 non-null  object
dtypes: float64(1), int64(4), object(10)
memory usage: 11.4+ MB

In [6]:
df2.isna().sum()

invoice_no        0
customer_id       0
gender            0
age               0
Age Group         0
category          0
quantity          0
price             0
payment_method    0
invoice_date      0
shopping_mall     0
day_of_week       0
name_of_day       0
month             0
month_name        0
dtype: int64

In [ ]:
def get_age_group(age):
    if age <= 18:
        return 'Teenager'
    elif age <= 30:
        return 'Young Adult'
    elif age <= 40:
        return 'Adult'
    elif age <= 50:
        return 'Elder'
    
    else:
        return 'Senior'

In [ ]:
df2['Age Group'] = df2['age'].map(get_age_group)

In [ ]:
#df2.drop(columns="Age_group",inplace = True)
columns = ['invoice_no', 'customer_id', 'gender', 'age', 'Age Group', 'category', 'quantity',
       'price', 'payment_method', 'invoice_date', 'shopping_mall',
       ]

df2 = df2[columns]

In [ ]:
df2.head()

In [ ]:
df2.info()

In [ ]:
df2["invoice_date"]= pd.to_datetime(df2["invoice_date"], format='%d/%m/%Y')

In [ ]:
df2['day_of_week'] = df2['invoice_date'].dt.dayofweek

In [ ]:
df2.head()

In [ ]:
df2.day_of_week.unique()

In [ ]:
df2['month'] = df2['invoice_date'].dt.month

In [ ]:
df2["name_of_day"]=df2["day_of_week"].map({6: 'Sunday', 0:'Monday', 1:'Tuesday',
                                           2:'Wednesday',3:'Thursday',4:'Friday',5:'Saturday'})

In [ ]:
df2.head()

In [ ]:
df2['month_name'] =df2['month'].map({1:'January',2:'Feburary',3:'March',4:'April',5:'May',6:'June',7:'July',
                                     8:'August',9:'September',10:'October',11:'November',12:'December'})

In [ ]:
df2.head()

In [ ]:
df2.to_csv(r'C:\Users\user\Downloads\Customer_Shopping_data.csv',index=False)